<h1>Credits</h1>
<div class="chart-container">
  <canvas id="chart"></canvas> <!-- <canvas id="chart" width="300" height="150"></canvas> -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="pollCSS.css">
</div>
<form id="pollForm">
  <div class="poll">
    <div class="poll-heading">
      <h3 class="poll-title">Credits</h3>
    </div>
    <div class="poll-body">
      <ul>
        <li>
          <label><input type="radio" name="pollOptions" value="English"><span>English</span></label>
        </li>
        <li>
          <label><input type="radio" name="pollOptions" value="Maths"><span>Maths</span></label>
        </li>
        <li>
          <label><input type="radio" name="pollOptions" value="RE"><span>RE</span></label>
        </li>
        <li>
          <label><input type="radio" name="pollOptions" value="Physics"><span>Physics</span></label>
        </li>
        <li>
          <label><input type="radio" name="pollOptions" value="Business"><span>Business</span></label>
        </li>
        <li>
          <label><input type="radio" name="pollOptions" value="Economics"><span>Economics</span></label>
        </li>
        <li>
          <label><input type="radio" name="pollOptions" value="Other"><span>Other</span></label>
        </li>
      </ul>
    </div>
    <div class="poll-footer">
      <button type="submit">Vote</button>
    </div>

    <div>
      <script src="pollJS.js"></script>
      </div>
  </div>
</form>
