* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #eee;
  color: #111;
}

.chart {
  text-align: center;
  margin: auto;
}

.row {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}


h1 {
  text-align: center;
  font-size: 50px;
  margin: 1.25rem 0 0.25rem 0;
}

.chart-container {
  position: left;
  width: 30vw;
  height: 22.5vw;
  margin: auto;
  padding-top: 20px;
  float: left;
  margin-left: 150px;
}

/*Navigation bar code*/
#navbar ul {
    background-color: #eee;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    /*This means the list will have no bulletpoints*/
    margin: 0;
    /* margin-left: 25px; */
    padding: 16px;
    text-align: center;
}

#navbar ul li {
    display: inline;
}

/*Navigation bar buttons code*/
#navbar ul li a {
    background-color: #000;
    border-radius: 10px;
    color: #ffffff;
    padding: .2em .9em;
    text-decoration: none;
}

/*This code makes the navigation bar white when a mouse hovers over it*/
#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

.container1 {
    background-color: #b3aaaa;
    border-radius: 15px;
    float: center;
    margin-bottom: 30px;
    padding: 30px;
    margin-left: 20px;
    text-align: center;
    width: 1310px;
    height: 80px;
}


/*Code for first container on the index page*/
.summary-container {
    background-color: #b3aaaa;
    border-radius: 15px;
    float: right;
    padding: 30px;
    margin-right: 70px;
    margin-bottom: 20px;
    text-align: center;
    width: 400px;
    height: 200px;
}

.summary-container1 {
    background-color: #b3aaaa;
    border-radius: 15px;
    float: right;
    padding: 30px;
    margin-right: 70px;
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
}

.summary-container2 {
    background-color: #b3aaaa;
    border-radius: 15px;
    float: right;
    padding: 30px;
    margin-right: 70px;
    text-align: center;
    width: 200px;
    height: 200px;
}

#newtask{
  position: relative;
  padding: 30px 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input{
  border-radius: 5px;
  width: 70%;
  height: 45px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
}

#newtask input:focus{
  outline: none;
  border-color: #96685f;
}

#newtask button{
  position: relative;
  float: right;
  width: 60px;
  height: 45px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

#tasks{
  width: 100%;
  position: relative;
  margin-top: 40px;
  background: #fff;
  padding: 30px 20px;
  border-radius: 5px;
}

.task{
  background: #fff;
  height: 50px;
  padding: 5px 10px;
  border-radius: 0px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 2px solid #d1d3d4;
}

.task span{
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.task button{
  border: none;
  background: #96685f;
  height: 100%;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.completed{
  text-decoration: line-through;
  opacity: 0.7;
}
