/* Style for the whole page including font, background colour and font colour */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E9EBEF;
  color: #111;
}

/* Header 1 style */
h1 {
  text-align: center;
  font-size: 700%;
  margin: 1.25rem 0 0.25rem 0;
  font-family: serif;
  color: #000;
}

/* Header 2 style */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 120%;
  margin-bottom: 4%;
}

/*Navigation bar code*/
#navbar ul {
    background-color: #E9EBEF;
    font-size: 18px;
    font-weight: bold;
    /*This means the list will have no bulletpoints*/
    list-style-type: none;
    margin: 0;
    padding: 16px;
    text-align: center;
}

#navbar ul li {
    display: inline;
}

/*Navigation bar buttons code*/
#navbar ul li a {
    background-color: #000;
    border-radius: 10px;
    color: #ffffff;
    padding: .4em 1.2em;
    text-decoration: none;
}

/*This code makes the navigation bar white when a mouse hovers over it*/
#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

/* This is the container for the graph */
.chart-container {
  position: center;
  width: 28vw;
  height: 10vw;
  /* padding-top: 10px; */
  float: center;
  margin-left: 36%;
}

/* Style for the summary information */
.container1 {
    /* background-color: #b3aaaa; */
    border-radius: 15px;
    float: center;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 15px;
    margin-left: 2%;
    text-align: center;
    width: 95%;
    height: 500%;
}

#credits {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: 5%;
  margin-top: 25%;
  margin-bottom: 5%;
  width: 90%;
}

#credits td, #credits th {
  border: 1px solid #ddd;
  padding: 8px;
}

#credits tr:nth-child(even){
  background-color: #f2f2f2;
}

#credits tr:hover {
  background-color: #ddd;
}

#credits th {
  margin-top: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000;
  color: white;
}

.summary {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 5%;
  margin-top: 1.5%;
  width: 90%;
}

.summary li {
  font-weight: 400;
  margin-left: 5%;
  margin-top: 0.5%;
  width: 90%;
}
